body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;

	font-size: 17px;
	color: #333;
	line-height: 1.6;
}
html,body{
	scroll-behavior: smooth;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */

.intro__header{
	background-color: #212121;
	color: #fff;
	padding: 20px 0;
}

.header__items{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	position: relative;
}

.header__tel{
	font-size: 24px;
	position: absolute;
	right: 0;
}

.header__title{
	font-size: 13px;
	position: absolute;
	left: 0;
}

.header__name{
	font-size: 32px;
	font-family: 'Cormorant SC', serif;
	font-weight: 700;
	margin: 0 auto;
	color: #728a6b;
}


/* Intro */

.intro{
	width: 100%;
	color: #fff;
	margin: 0 auto;
	background: url(img/intro_bg.jpg) center no-repeat;
	background-size: cover;
	margin: 0 auto;
	text-align: center;
}

.intro__background{
	background: rgba(0,0,0, 0.5);
}

.intro__suptitle{
	display: block;
	font-family: 'Cormorant SC', serif;
	font-style: italic;
	font-size: 28px;
	padding-top: 50px;
}

.intro__title{
	display: inline-block;
	margin: 0 auto;
	max-width: 1070px;
	width: 100%;

	font-family: 'Cormorant SC', serif;
	font-size: 72px;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 700;
	padding: 40px 0;
}

.intro__title span{
	color: #728a6b;
}

.intro__subtitle{
	display: block;
	margin: 0 auto;
	font-size: 24px;
	max-width: 1070px;
	width: 100%;

	line-height: 1.2;
	font-weight: 300;
}

.intro__btn{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 20px;

	padding: 10px 80px;
	margin: 60px 0 120px;

	border: 2px solid;
	border-radius: 2em;
	transition: color .2s;
}

.intro__btn:hover{
	color: #728a6b;
}

/* ADVANTAGES */

.advantages{
	margin: 40px auto;
}

.advantages__line{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.advantages__item{
	width: 300px;
	text-align: center;
	width: 33,3333%;
}

.advantages__img{
	border: solid #728a6b 2px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 40px auto 0;
	display: flex;
	align-items: center;
	justify-content: center;

}

.advantages__title{
	font-family: "Roboto" serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 600;
	margin-top: 20px;
}

.advantages__text{
	font-size: 17px;
	color: #666;
	margin-top: 10px;
}

/* MEET */
.meet{
	padding: 0 auto;
	margin: 100px 0 0;
}

.title{
	font-family: 'Cormorant SC', serif;
	font-size: 54px;
	text-align: center;
	font-weight: 400;
}

.title span{
	color: #728a6b;
}

.title:after{
	content: "";
	display: block;
	width: 200px;
	height: 1px;
	margin: 30px auto 0;
	background-color: #333;
}

.meet__info{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
}

.meet__photo{
	width: 50%;
}

.meet__photo img{
	width: 100%;
}

.meet__right{
	width: 47%;
}

.meet__right h3{
	margin-top: 30px;
	font-family: 'Cormorant SC', serif;
	font-size: 32px;
	font-weight: 100;
}

.meet__right p{
	font-size: 17px;
	line-height: 1.4;
	font-weight: 100;
}

.btnblock{
	text-align: center;
}

.meet__btn{
	display: inline-block;
	padding: 10px 30px;
	margin: 70px;

	text-decoration: none;
	color: #728a6b;
	font-size: 20px;
	text-align: center;

	border: solid 2px #728a6b;
	border-radius: 2em;

	transition: all .1s linear;
}

.meet__btn:hover{
	background-color: #728a6b;
	color: #fff;
}


/* ADVANTAGES WORK */

.work{
	width: 100%;
	background: url(img/advantageswork_bg.jpg) center no-repeat;
	background-size: cover;

}	

.work__bg{
	background-color: rgba(255,255,255,0.8);
}

.work__inner{
	display: flex;
	padding: 80px 0;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work__text{
	background-color: #fff;
	padding: 40px 30px 0px 40px;
	width: 50%;

}

.work__title{
	font-family: 'Cormorant SC', serif;
	font-size: 34px;
	font-weight: 200;
}

.work__list{
	font-size: 17px;
	line-height: 1.4;
	font-weight: 200;
	color: #333;
}
.work__title span{
	color: #728a6b;
}

.work__photos{
	width: 48%;
}

.work__photos__main{
	width: 100%;
}

.work__photos__second{
	display: flex;
	justify-content: space-between;
	margin-top: 13px;
	width: 100%;
}
.work__photos__second img{
	width: 48%;
}

/* PORTFOLIO */

.portfolio{
	margin: 80px 0;
}

.title.portfolio__title{
	font-size: 48px;
	font-weight: 400;
	padding-bottom: 30px;
}

.portfolio__objects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	line-height: 0;
}

.portfolio__item{
	display: block;
	width: 25%;
	text-align: left;
	position: relative;
	background-color: #000;
}

.portfolio__item img{
	width: 100%;
	opacity: 1;
	transition: opacity .1s linear;
}

.portfolio__box{
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	opacity: 0;
	line-height: 1.4;
	justify-content: center;
	align-items: center;
	transition: opacity .2s linear;
	transition: transform .1s linear;
}

.portfolio__title{
	font-size: 20px;
	font-weight: 700;
}

.portfolio__text{
	font-size: 16px;
}

.portfolio__item:hover img{
	opacity: 0.5;
}

.portfolio__item:hover .portfolio__box{
	opacity: 1;
	transform: translate(5%,0);
}


/* Services */

.services{
	padding-top: 60px;
}

.title.services__title{
	font-size: 54px;
}

.services__inner{
	padding: 50px 0;
}

.services__line{
	display: flex;
	flex-wrap: wrap;
}

.services__item{
	width: 50%;
	line-height: 0;
	position: relative;
	background-color: #000;
}

.services__item img{
	width: 100%;
	opacity: 0.5;
}

.services__box{
	position: absolute;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	vertical-align: center;
	line-height: 1.4;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: #fff;
}

.services__title{
	padding-top: 30px;
	font-family: 'Cormorant SC', serif;
	font-size: 40px;
	text-align: center;
	font-weight: 200;
}

.services__text{
	font-size: 17px;
	padding-top: 40px;
	font-weight: 200;

	margin: 0 auto;
	width: 80%;
}

.services__button{
	color: #fff;
	display: inline-block;
	text-decoration: none;

	border: solid #fff 1px;
	border-radius: 2em;
	padding: 8px 30px;
	margin: 30px auto 0 auto;

	transition: color .1s linear;
	transition: border .1s linear;

}

.services__button:hover {
	color: #DD7271;
	border-color: #DD7271;
}

.services__consultation{
	text-decoration: none;
	display: inline-block;
	color: #728a6b;
	font-family: 'Cormorant SC', serif;
	font-weight: 600;
	font-size: 18px;
	margin: 70px 0;

	padding: 10px 60px;
	border: solid #728a6b 3px;
	border-radius: 2em;

	transition: color .1s linear;
	transition: border .1s linear;
}

.services__consultation:hover{
	color: #DD7271;
	border-color: #DD7271;
}

/* SOUL */

.soul{
	width: 100%;
	position: relative;
	padding: 80px 0;
}

.soul:after{
	content: "";
	background: url(img/soul_bg.jpg) center no-repeat;
	background-size: cover;
	width: 100%;
	opacity: 0.2;

	top: 0;
  	left: 0;
  	bottom: 0;
 	right: 0;
  	position: absolute;
 	z-index: -1; 
}

.soul__inner{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 20px 40px;
	background-color: #fff;

}

.soul__photo{
	width: 37%;
}

.soul__photo img{
	width: 100%;
}

.soul__box{
	padding: 0px 50px 0px 20px;
	width: 60%;
	right: 0;
}

.soul__title{
	font-size: 40px;
}
.soul__title:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin: 5px auto 0;
	background-color: #333;
	opacity: 0.2;
}
.soul__text{
	margin-top: 10px;
	font-size: 17px;
	line-height: 1.4;
}

/* REVIEWS */

.reviews{
	margin: 50px 0;
}

.title.reviews__maintitle:after{
	margin: 20px auto 0;
}

.reviews__item{
	margin-top: 25px;
	background-color: #F6F6F6;
	display: flex;
	line-height: 0;
}

.reviews__box{
	line-height: 1.4;
	padding: 20px 20px 0 20px;
}

.reviews__title{
	font-family: "Cormorant SC", serif;
	font-size: 22px;
	font-weight: 700;
}

.reviews__text{
	font-size: 17px;
	color: #555;
	font-weight: 200;
	margin: 4px 0 ;
}

/* CONNECT WITH ME */

.connect{
	margin-top: 100px;
	margin-bottom: 60px;
}

.connect__inner{
	width: 92%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 30px;
}
.connect__img{
	width: 100%;
	max-width: 350px;
}
.connect__img img{
	width: 100%;
}
.connect__box{
	padding: 20px 30px;
}

.connect__title{
	font-size: 20px;
	font-weight: 700;
}

.connect__text{
	font-size: 17px;
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	margin: 0;
}

.connect__tel{
	font-size: 24px;
	margin-top: 0;
}

/* FOOTER */

.footer{
	background-color: #212121;
	background-size: cover;
	color: #fff;
}

.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;
}

.footer__logo{
	font-family: Cormorant SC, serif;
	font-size: 28px;
	color: #728a6b;
	text-transform: uppercase;
}

.footer__nav{
	display: flex;
}

.footer__object a{
	border: hidden 1px;
	padding: 29px 5px;
	text-decoration: none;
	color: #fff;
	background-color: rgba(0,0,0,0);

	transition: background .2 linear;
}


.footer__nav a:hover{
	background-color: rgba(0,0,0,0.2);
}

/* MODAL WINDOW */
.hidden{
	display: none;
}

.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.6);
}


.modal__window{
	position: absolute;
	left:50%;
	top:50%;
	width: 98%;
	max-width: 410px;
	height: 530px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 25px 30px;
}

.modal__close{
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: none;
	cursor:pointer;
}
.modal__close:before, .modal__close:after{
	position: absolute;
	content: '';
	background-color: #000;
	width: 80%;
	height: 1px;
	border: 1px hidden;
	border-radius: 2em;
	transition: transform .3s linear;
}

.modal__close:before{
	transform: translate(-50%, 0) rotate(45deg);
}

.modal__close:after{
	transform: translate(-50%, 0) rotate(-45deg);
}
.modal__close:hover:before{
	transform: translate(-50%, 0) rotate(225deg);
}
.modal__close:hover:after{
	transform: translate(-50%, 0) rotate(135deg);
}

.modal__main__title{
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 20px;
}

.modal__title{
	font-size: 16px;
	font-weight: 400;
	margin: 10px 0;
}

.modal__private{
	display: block;
}

.modal__input{
	box-sizing: border-box;
	width: 100%;
	padding: 14px 10px 14px 20px;
	font-size: inherit;
	border: solid 1px #D1D1D1;
	background-color: #F2F2F2;
	border-radius: 0.4em;
	outline: none;
	margin-bottom: 8px;
	color: #888888;
	font-weight: 200;
}

.modal__input::placeholder{
	opacity: 0.4;
}

.modal__button{
	width: 100%;
	height: 60px;
	margin-top: 20px;
	outline: none;
	background-color: #728A6B;
	border: none;
	font-size: 24px;
	color: #fff;
	cursor:pointer;
	transition: background .05s linear;
}

.modal__button:hover{
	background-color: #3c4939;
}

.modal__private{
	font-size: 12px;
}

/* VIEW WINDOW */
.view{
	position: fixed;
	width: 100%;
	height: 100%;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.6);
}

.view__close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
	background-color: transparent;
	border: none;
	cursor:pointer;
	opacity: 0.8;
}
.view__close:before, .view__close:after{
	position: absolute;
	content: '';
	background-color: #000;
	width: 80%;
	height: 1px;
	border: 1px hidden;
	border-radius: 2em;
	transition: transform .3s linear;
}

.view__close:before{
	transform: translate(-50%, 0) rotate(45deg);
}

.view__close:after{
	transform: translate(-50%, 0) rotate(-45deg);
}
.view__close:hover:before{
	transform: translate(-50%, 0) rotate(225deg);
}
.view__close:hover:after{
	transform: translate(-50%, 0) rotate(135deg);
}

.view__window{
	width: 100%;
	max-width: 1180px;
	margin: 0;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	line-height: 0;
}
.view__window img{
	width: 100%;
	padding: 5px;
}

.view__left, .view__right{
	position: absolute;
	border: none;
	background-color: transparent;
	top: 50%;
	transform: translate(0, -50%);
}
.view__left img, .view__right img{
	width: 60px;
	border: 1px hidden;
	border-radius: 100%;
	cursor:pointer;
	opacity: 0.5;
	transition: opacity 0.1s linear;
}
.view__left img:hover, .view__right img:hover{
	opacity: 0.8;
}


.view__left{
	left: 0;
}
.view__left img{
	transform: rotate(180deg);
}


.view__right{
	right: 0;
}

/* MediaTags */

@media (max-width: 1200px){

	/* INTRO */
	.intro__title{
		font-size: 68px;
	}
	.intro__subtitle{
		max-width: 900px;
		font-size: 20px;
	}
	/* ADVANTAGES */

	.advantages{
		margin: 30px 0;
	}
	/* LETS MEET */
	.meet__books{
		width: 70%;
	}
	.meet__right h3{
		margin-top: 0;
	}
	.meet__right p{
		margin: 6px 0;
		font-size: 16px;
	}
	.meet__btn{
		margin: 20px;
		font-size: 17px;
	}

	/* ADVANTAGES WORK */
	.work__inner{
		padding: 40px 0 ;
	}
	.work__text{
		padding-top: 0;
	}
	.work__title{
		font-size: 27px;
	}
	.work__title span{
		display: none;
	}
	.work__list{
		font-size: 16px;
	}
	/* PORTFLIO */
	.portfolio__item{
		width: 50%;
	}
	.portfolio__title{
		font-size: 23px;
	}
	.portfolio__text{
		font-size: 22px;
	}

	/* Services */
	.services__title{
		font-size: 34px;
	}
	.services__text{
		font-size: 14px;
	}
	.services__button{
		font-size: 14px;
	}

	/* SOUL */
	.title.soul__title{
		font-size: 30px;
	}
	.soul__text{
		font-size: 15px;
	}

	/* REVIEWS */
	.reviews__text{
		font-size: 15px;
	}
	/* CONNECT */
	.connect{
		margin: 30px 0;
	}
}


@media (max-width: 990px){
	/* HEADER */
	.header__tel{
		font-size: 18px;
	}	
	.header__title{
		display: none;
	}	

	/* INTRO */
	.intro__title{
		font-size: 55px;
	}
	.intro__title span{
		display: none;
	}
	.intro__subtitle{
		max-width: 900px;
		font-size: 18px;
	}
	.intro__btn{
		font-size: 17px;
	}

	/* ADVANTAGES */

	.advantages{
		margin: 30px 0;
	}
	.advantages__item{
		width: 50%;
		max-width: 300px;
	}
	/* LETS MEET */
	.meet__books{
		display: none;
	}
	.meet__info{
		margin: 20px 0;
	}
	.meet__right h3{
		font-size: 25px;
	}
	.meet__right p{
		font-size: 14px;
	}
	.title span{
		display: none;
	}
	.title{
		font-size: 40px;
	}
	.title:after{
		margin: 10px auto;
	}
	.meet__btn{
		margin: 10px;
		font-size: 14px;
	}
	/* ADVANTAGES WORK */
	.work__text{
		width: 100%;
	}
	.work__photos{
		display: block;
		margin: 0 auto;
		width: 85%;
	}
	.work__photos__second{
		margin-top: 0;
	}
	.work__photos__second img{
		width: 49%;
	}

	/* PORTFOLIO */
	.portfolio{
		margin-top: 20px;
	}
	.title.portfolio__title{
		font-size: 40px;
	}
	.portfolio__title{
		font-size: 18px;
	}
	.portfolio__text{
		font-size: 15px;
	}
	/* SERVICES */
	.services{
		padding-top: 0px;
	}
	.services__inner{
		padding-top: 15px;
		padding-bottom: 0px;
	}
	.title.services__title{
		font-size: 40px;
	}
	.services__title{
		font-size: 26px;
	}
	.services__text{
		font-size: 12px;
		padding-top: 10px;
	}
	.services__button{
		padding: 6px 20px;
		font-size: 13px;
	}
	.services__consultation{
		margin: 40px 0;
	}
	/* SOUL */
	.title.soul__title{
		font-size: 30px;
	}
	.soul{
		padding: 40px 0;
	}
	.soul__text{
		font-size: 15px;
	}
	/* INTRO */
	.soul__photo{
		display: none;
	}
	.soul__box{
		width: 100%;
		padding: 0px 20px 0px 20px;
	}
	.soul__text{
		font-size: 17px;
	}
	/* REVIEWS */
	.reviews{
		margin: 15px 0;
	}
	.reviews__box{
		padding-top: 5px;
	}
	.reviews__title{
		font-size:20px;
	}
	.reviews__text{
		font-size: 13px;
	}
	/* Connect */
	.connect__inner{
		width: 100%;
	}
	/* Footer */
	.footer__inner{
		justify-content: center;
	}
	.footer__nav{
		display: none;
	}
}

@media (max-width:650px){
	/* HEADER */
	.header__tel{
		display: none;
	}
	.intro__header{
		padding: 10px 0;
	}
	.header__name{
		font-size: 22px;
	}
	/* INTRO */
	.intro__suptitle{
		font-size: 25px;
	}
	.intro__title{
		font-size: 32px;
	}
	.intro__subtitle{
		font-size: 14px;
		padding: 0 15px;
	}
	.intro__btn{
		font-size:14px;
	}
	/* ADVANTAGES */
	.advantages{
		margin: 0;
	}
	.advantages__item{
		width: 100%;
		max-width: 300px;
	}
	/* LETS MEET */
	.meet__info{
		justify-content: center;
	}
	.meet__right{
		width: 100%;
	}
	.meet__photo{
		width: 80%;
	}
	.meet__right h3{
		font-size: 25px;
	}
	.meet__right p{
		font-size: 14px;
	}
	/* ADVANTAGES WORK */
	.work__text{
		padding: 0;
	}
	.work__list{
		padding-left: 30px;
	}
	.work__photos{
		width: 100%;
	}
	/* PORTFOLIO */
	.portfolio__item{
		width: 100%;
	}
	.portfolio__title{
		font-size: 18px;
	}
	.portfolio__text{
		font-size: 15px;
	}
	
	/* SERVICES */
	.services__item{
		width: 100%;
	}
	.services__title{
		font-size: 30px;
	}
	.services__text{
		font-size: 12px;
	}
	.services__button{
		font-size: 14px;
	}
	.services__consultation{
		font-size: 15px;
		padding: 6px 20px;
	}
	/* SOUL */
	.soul{
		padding: 24px 0;
	}
	.title.soul__title{
		font-size: 25px;
	}
	.soul__text{
		font-size: 14px;
	}
  /* Reviews */
	.reviews__item{
		flex-direction: column;
		text-align: center;
		border: 1px solid rgb(196, 196, 196);
		border-radius: 3%;
	}
	.reviews__avatar{
		padding-top: 10px;
	}
	.reviews__text{
		text-align: left;
	}
	/* Connect */
	.connect__title{
		font-size: 18px;
	}
	.connect__text{
		font-size: 15px;
	}
	.connect__tel{
		font-size: 22px;
		margin-bottom: 0;
	}
	/* View */
	.view__left, .view__right{
		top: 120%;
	}
}